#about_me {
    width: 100dvw;
    margin-bottom: 80px;
}
.menu {
    width: fit-content;
    font-size: calc(7vw + 1vh); 
    font-weight: bold;
    /* font-family: 'Akira Expanded'; */
    margin-top: 10px;
    margin-bottom: 15px;
}

#about_me .menu {
    position: relative;
    left: -5px;
    top: 10px;
    animation: fade_up 1s ease-in;
}

.aboutme_info {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 30px;
}

.aboutme_info img {
    width: 70%;
    margin: auto;
    border-radius: 40px;
    animation: fade_right 1.25s ease-in;
}

.aboutme_info div {
    width: 32em;
    margin: auto;
}

.aboutme_info div h1 {
    position: relative;
    right: 3px;
    font-size: calc(2vw + 1vh); 
    animation: fade_left 1s ease-in;
    background-color: transparent;
}

.aboutme_info div p {
    font-size: calc(12px + 6px);
    animation: fade_left 1s ease-in;
    margin-right: 30px;
}



@keyframes fade_up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade_left {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade_right {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (max-width: 800px) {
    .aboutme_info {
        display: flex;
        flex-direction: column;
    }

    .aboutme_info >div {
        width: 100%;
    }

    .aboutme_info >div >p {
        margin: 0 auto;
        width: calc(100% - 5em);
        height: fit-content;
    }

    .aboutme_info >div >h1 {
        font-size: calc(8vw + 1vh); 
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}