#contact {
    width: 100dvw;
    height: 25em;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#contact .menu {
    background-color: transparent;
    width: calc(100% - 200px);
    color: var(--color-white);
    margin-left: -5px;
}


#contact #contact_links {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 30px 100px;
    gap: 10px;
    background-color: transparent;
}

#contact_links > a {
    background-color: transparent;
    color: var(--color-white);
}