section.home {
    padding: 120px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.home > h1 {
    font-size: 150px;
    margin-bottom: 20px;
    animation: fade_up 1.6s ease-in-out;
}

.home > p {
    font-size: 25px;
    width: calc(100% - 10em);
    animation: fade_up 1.6s ease-in-out;
    text-align: center;
}


.home > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.home > div > i {
    font-size: 50px;
    margin-top: 20px;
    animation: fade_down 1.6s ease-in-out infinite;
}

.home > div > h5 {
    margin-bottom: 10px;
}

@keyframes fade_up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade_down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
