@import url("nav.css"); 
@import url("about_me.css");
@import url("projects.css");
@import url("contact.css");

@font-face {
    font-family: 'Akira Expanded';
    src: url('Akira Expanded.tff') format('tff');
}   

:root {
    /* --colors */
    --color-white: #e1e5de;
    --color-black: #292924;
}

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
}

body {
    width: 100%;
    height: fit-content;
}

a {
    text-decoration: none;
    color: black;
}
