.nav_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--color-white);
    font-size: 22px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;
}