#projects {
    height: fit-content;
    background-color: var(--color-white);
    position: relative;
    top: 100dvh;
    margin-bottom: 30px;
}

#projects > .menu {
    padding-top: 30px;
    margin-bottom: 150px;
    position: sticky;
    top: 50px;
    margin-left: -2px;
}

.project_container {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 50px;
}

.project_container:nth-child(odd) {
    flex-direction: row-reverse;
}

.one, .two , .three{
    background-color: var(--color-white);
}

.project_info {
    margin: 0 50px;
    width: 35em;
    height: max-content;
    position: sticky;
    top: 200px;

}

.project-top {
    font-size: 3em;
    display: flex;
}

.project_num {
    font-family: 'Akira Expanded';

}

.project_name > div:first-child{
    position: relative;
    top: 30px;
    font-size: 1.2em;
    font-family: 'Akira Expanded';
    height: fit-content;

}


.project-bottom {
    position: relative;
    top: 55px;
    font-size: 18px;
}

.project-bottom > div:nth-child(2) {
    font-size: 15px;
    opacity: 0.5;
}

.project-bottom p {
    margin-top: 20px;
    width: 25em;
}

.link_button a {
    position: relative;
    top: 35px;
    padding: 6px 25px;
    margin-right: 20px;
    border-radius: 25px;
    border: 1.5px solid var(--color-black);
}


.link_button a:hover {
    cursor: pointer;
    background-color: var(--color-black);
    color: var(--color-white);

    & i {
        background-color: transparent;
        color: white;
    }
}

.project_images {
    margin-bottom: 150px;
    position: relative;

}

.project_img {
    margin: 0 auto;
    width: 80%;
    border-radius: 40px;
}


/* .ipad.p-1 {
    position: relative;
    left: 135px;
} */

.iphone {
    width: 20%;
    position: relative;
    top: -100px;
    left: 90px;
    background-color: transparent;
}

.ipad.p-1 img, .iphone.p-1 img{
    width: 100%;
    background-color: transparent;
}



@media screen and (max-width: 700px) {
    .project_container {
        display: flex;
        flex-direction: column;
    }

    .project_container:nth-child(odd) {
        flex-direction: column;
    }
}