#projects {
    background-color: rgb(34, 33, 33);
    height: fit-content;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

#projects > .title {
    color: white;
    padding-top: 50px;
}

.project_container {
    display: flex;
    justify-content: space-around;
    color: white;
}

.project_info {
    margin: 0 50px;
    background-color: aqua;
    width: 30em;
    height: 300px;
    position: sticky;
    top: 200px;
}

.project_img {
    margin: 0 50px;
    width: 35em;
    height: 20em;
    border-radius: 40px;
    background-color: white;
}